body {
  height: 100%;
  margin: 0;
}

* {
  font-family: "Koulen", sans-serif;
}

a {
  text-decoration: none;
}

body::after {
  content: "";
  background-image: url('../src/images/ticket/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  filter: blur(6px);
  /* Applica l'effetto di sfocatura */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.inputs-ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-ticket input {
  background-color: rgba(217, 217, 217, 0.85);
  border: none;
  color: white;
  padding: 10px 20px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  border-radius: 5px;
  width: 70%;
  transition-property: all;
  transition: 0.5s ease-in-out;
}

.inputs-ticket input::placeholder {
  color: white;
}

.inputs-ticket input:focus {
  transform: scale(1.13);
  outline: none;
}

.inputs-ticket input:focus::placeholder {
  color: none;
}

.create-ticket-button #confirm-button {
  margin-top: 20px;
  font-size: 30px;
  width: 280px;
}

.header {
  color: white;
  display: flex;
  height: 5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  background-color: rgba(0, 0, 0, 0.500);
  margin: 30px 30px 30px 30px;
}

.centertexts {
  height: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.centertexts p {
  color: white;
  margin-right: 18px;
  font-size: 30px;
  text-align: center;
  transition: text-shadow 0.2s ease-in-out;
}

.centertexts p:hover {
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  cursor: pointer;
}

.schoolclass {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.schoolclass p {
  font-size: 30px;
}

.schoolclass img {
  width: 50px;
  height: 50px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center h1 {
  color: white;
  font-weight: normal;
  font-size: 64px;
  text-shadow: 0px 0px 15px black;
}

.center p {
  text-align: start;
  text-shadow: 0px 0px 5px black;
  color: white;
  margin-top: -20px;
  margin-left: 44px;
  width: 520px;
}

.ticket-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  color: #0075ff;
}

.create-ticket-button button {
  background-color: #0075ff;
  border: none;
  color: white;
  cursor: pointer;
  height: 90px;
  width: 260px;
  font-size: 35px;
  transition: box-shadow 0.15s ease-in-out;
}

.create-ticket-button button:hover {
  box-shadow: 0px 0px 10px 0px #0250a8;
}

.red {
  color: red;
}

.create-ticket-button {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: -65px;
}

.ticket-button button {
  color: white;
  cursor: pointer;
  width: 110px;
  height: 50px;
  font-size: 22px;
  background-color: #0075ff;
  transition: box-shadow 0.2s ease-in-out;
  border: none;
}

.ticket-button button:hover {
  box-shadow: 0px 0px 10px 0px #0250a8;
}

.ticket-button button:active {
  background-color: #3b97ff;
  box-shadow: 0px 0px 10px 0px #2e72c0;
}

/*@media screen and (max-width: 928px) {

  .header {
    padding: 0px 20px 0px 20px;
  }

  .schoolclass {
    display: none;
  }

  .schoolclassa {
    display: none;
  }
 
  .ticket-button button {
    font-size: 15px;
    width: 80px;
    height: 40px;
  }

  .centertexts p {
    margin-right: 18px;
    font-size: 15px;
    text-align: center;
    transition: text-shadow 0.2s ease-in-out;
  }

  .centertexts p:hover {
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
  }
  
}